/* Colors:
#ef9273
#fef9f8
#0d0d0d */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* overflow: hidden; */
  height: 100%;
  background-color: whitesmoke;
}

.title {
  font-size: 4rem;
  letter-spacing: 0.175rem;
  /* border: black 2px solid; */
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 15px;
}

/* Loader */
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Image Container */
.image-container {
  margin: 10px 20%;
}

.image-container img {
  width: 100%;
  margin-top: 5px;
}

/* Media Query: Large Smartphone */
@media screen and (max-width: 600px) {
  .title {
    font-size: 2rem;
  }

  .image-container {
    margin: 10px;
  }
}
